attrs==19.3.0
backcall==0.1.0
bleach==3.1.2
certifi==2020.12.5
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
colorama @ file:///home/ktietz/src/ci/colorama_1611926383524/work
cycler==0.10.0
cytoolz==0.11.0
dask==2.17.0
decorator==4.4.1
defusedxml @ file:///home/ktietz/src/ci_mi/defusedxml_1612808095953/work
entrypoints==0.3
imageio @ file:///tmp/build/80754af9/imageio_1617700267927/work
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
jedi==0.16.0
Jinja2==2.11.1
jsonschema @ file:///Users/ktietz/demo/mc3/conda-bld/jsonschema_1630511932244/work
jupyter-client==6.0.0
jupyter-console @ file:///home/ktietz/src/ci_ipy2/jupyter_console_1612522594166/work
jupyter-core==4.6.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.2.0
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
nbconvert==5.6.1
nbformat==5.0.4
networkx @ file:///tmp/build/80754af9/networkx_1617653298338/work
notebook==6.0.3
numpy==1.18.1
olefile==0.46
opencv-contrib-python==4.2.0.32
pandocfilters==1.4.2
parso==0.6.1
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///C:/ci/pillow_1625663293114/work
prometheus-client==0.7.1
prompt-toolkit==3.0.3
Pygments==2.5.2
pyparsing==2.4.6
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent==0.15.7
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
PyWavelets @ file:///C:/ci/pywavelets_1601658410782/work
pywin32==228
pywinpty==0.5.7
pyzmq==19.0.0
qtconsole==4.6.0
rubik-cube==0.0.1
scikit-image==0.17.2
scipy @ file:///C:/ci/scipy_1597675683670/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1607525499227/work
six @ file:///C:/ci/six_1605201745795/work
terminado==0.8.3
testpath @ file:///home/ktietz/src/ci/testpath_1611930608132/work
tifffile==2020.10.1
toolz @ file:///home/linux1/recipes/ci/toolz_1610987900194/work
tornado==6.0.3
traitlets @ file:///C:/ci/traitlets_1632759765830/work
wcwidth==0.1.8
webencodings==0.5.1
widgetsnbextension==3.5.1
wincertstore==0.2
zipp==3.0.0
